body {
    font-family: Montserrat;
    margin: 0px;
}

*::selection, .form-control {
    background: rgb(12, 107, 75);
    color: white;
}

#navbar {
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: #fff;
}

.navbar *, h3 {
    padding: 5px;
    color: rgb(12, 107, 75);
}

.dropdown-item {
    cursor: pointer;
}

#modais {
    background-color: rgb(211, 211, 211);
    display: flex;
}

#barra-cadastro {
    color: rgb(230, 230, 230);
    padding: 40px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    color: rgb(11, 79, 124);
}

option {
    padding: 5px;
    color: rgb(55, 179, 158);
}

.campos {
    height: 30px;
    margin: 0px;
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
}

.form-select {
    color: black;
    background-color: rgb(245, 245, 245);
}

.form-floating {
    height: 60px;
}

.observacao {
    height: 120px;
}


.form-control {
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}


.form-control:focus {
    color: black;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.form-control:disabled {
    background-color: rgb(235, 235, 235);
    opacity: 1;
    color: rgb(180, 180, 180);
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
}

.flex {
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#horaentrada, #horasaida {
    border-radius: 0px 5px 5px 0px;
}

#horaentrada {
    margin-right: 5px;
    border-radius: 5px 0px 0px 5px;
}

#horasaida {
    border-radius: 0px 5px 5px 0px;
}

#btns-cadastro {
    padding: 10px;
    margin-top: 20px;
    justify-content: right;
}

#nav-logo {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #0C6B4B;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

#img-logo {
    margin-right: 20px;
}

#portaria {
    margin-left: 20px;
}

#btn-cadastrar {
    margin-left: 10px;
}

.modal-header {
    justify-content: center;
}

#div-meio {
    padding: 0px 40px 40px 40px;
    background-color: #ffffff;
}

#div-table {
    background-color: #FFFFFF;
}

.tables * {
    font-size: 13px;
}

tr:nth-child(odd) {
    background-color: #19875414;
}

.tr-titles {
    padding: 0px;
}

.tr-titles th {
    background-color: rgba(12, 107, 75);
    color: white;
    position: sticky;
    z-index: 1;
    top: 110px;
}

.accordion-item {
    padding: 0px;
    border: 0px;
}

.accordion-header {
    margin-bottom: 5px;
}

.accordion-button:focus {
    z-index: 1;
    border-color: none;
    outline: none;
    box-shadow: none;
}

.accordion-cadastrar{
    border: 0px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 1px  rgba(12, 107, 75);
}

.accordion-cadastrar:hover{
    box-shadow: 5px 5px 1px  rgba(12, 107, 75);
}

.accordion-button:not(.collapsed){
    background-color:  rgba(12, 107, 75);
    color: white;
}

.accordion-button:not(.collapsed):hover{
    background-color:  rgba(12, 107, 75, 0.8);
}

.accordion-button{
    background-color:  rgba(12, 107, 75);
    color: white;
    
}.accordion-button:hover{
    background-color:  rgba(12, 107, 75, 0.8);
}


.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.rodape{
    width: 100%;
}

.rodape * {
    color: rgb(12, 107, 75);
}

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #1987544e;     /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(12, 107, 75);
    border-radius: 20px;
  }