body {
    background-color: rgb(51, 51, 51);
    font-family: Calibri;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo {
    background-color: rgb(240, 240, 240);
    width: 400px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 2px;
}

#titulo {
    text-align: center;
}

.labels {
    height: 20px;
    padding: 5px 0px;
}

.campos {
    height: 30px;
    margin: 0px;
    padding: 5px 15px;
    border: 0px;
    border-radius: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

#setor {
    height: 40px;
}

#setor:disabled {
    background-color: rgb(240, 240, 240);
}

option {
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 0px;
}

.flex {
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#cadastrar {
    background-color: rgb(12, 107, 75);
    color: white;
    height: 40px;
    margin-top: 30px;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

#cadastrar:hover {
    background-color: rgb(12, 107, 75, 0.9);
    cursor: pointer;
}

.horas-linha{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horas-coluna{
    width: 48%;
    display: flex;
    flex-direction: column;
}